/* GENERAL STYLES */

html {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
*, *:before, *:after {
    box-sizing: inherit;
}
:root {
    --red: #BD353B;
    --black: #262424;
    --white: white;
    --gray1: #eee;
    --gray2: #aaa;
    --gray3: #707070;
    --gray4: #333333;
}
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    color: var(--black);
    background: var(--gray3);
}
h1, h2 {
    margin: 0;
    padding: 0;
}
.visible {
    display: block !important;
}

/* HEADER AND NAVIGATION STYLES */

.nav {
    background: white;
    height: 10rem;
}
.nav__links {
    float: right;
    padding: 1rem;
    margin-top: 2.5rem;
}
.nav__links a {
    text-decoration: none;
    color: #262424;
    font-weight: bold;
    font-size: 2rem;
    padding: 1rem;
}
.nav__links a:hover {
    color: var(--red);
}
.nav__logo {
    display: inline-block;
    height: 10rem;
    width: 30vw;
    max-width: 510px;
    background: url(images/senja-maskin-as.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 90%;
}
.nav__logo a {
    display: block;
    height: 100%;
    width: 100%;
}
label {
    margin: 0 2.5rem 0 0;
    font-size: 2rem;
    display: none;
    width: 1.5rem;
    float: right;
}
#toggle {
    display: none;
}

/* FOOTER STYLES */

.footer {
    background: white;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    justify-items: center;
    align-items: center;
    padding-top: 3rem;
}
.footer__links {
    margin: 2rem 0;
}
.footer__links a {
    text-decoration: none;
    color: var(--black);
    font-size: 1rem;
    display: block;
    text-align: start;
    font-weight: bold;
    padding: 0.5rem;
}
.footer__links a:hover {
    color: var(--red);
}
.footer__social-media a {
    text-decoration: none;
    color: var(--black);
    font-size: 5rem;
    padding: 1rem;
}
.footer__contact {
    display: grid;
    grid-template-columns: 5rem 1fr;
    align-items: center;
    grid-gap: 1rem;
    padding: 3rem;
}
.footer__contact__icon {
    font-size: 2rem;
    padding: 1rem;
    text-align: center;
}
.footer__contact__content {
    font-weight: bold;
    text-align: start;
    cursor: pointer;
}
.footer__copy {
    grid-column: 1/4;
    margin: 1rem 0;
    font-weight: bold;
}

/* MAIN - HOME STYLES */

.main-home__img {
    background-image: url(images/DSC_1576.JPG);
    height: 85vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 0%;
}
.main-home__cta-container {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem;
    justify-items: center;
    align-items: center;
    padding: 5rem 1rem;
    text-align: center;
}
.main-home__cta-container__box {
    width: 100%;
    max-width: 32rem;
    min-height: 36rem;
    background: white;
    border-radius: 5px;

    display: grid;
    grid-template-columns: 1fr;
    align-content: space-around;
    padding: 1rem;

    box-shadow: 0 .5rem 1rem var(--gray4);
}
.main-home__cta-container__box__header {
    font-size: 2rem;
    font-weight: bold;
}
.main-home__cta-container__box__content {
    font-size: 1.5rem;
}
.main-home__cta-container__box__cta a {
    color: var(--red);
    text-decoration: none;
    font-size: 1.5rem;
}
.main-home__cta-container__box__cta a:hover {
    color: var(--black);
}

/* MAIN - ABOUT STYLES */

.main-about__img {
    background-image: url(images/IMG-0973.JPG);
    height: 85vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 40%;
}
.main-about__content {
    margin: 3rem auto;
    text-align: center;
    background: white;
    border-radius: 5px;
    box-shadow: 0 .5rem 1rem var(--gray4);
    min-height: 30rem;
    max-width: 95vw;
}
.main-about__content__header {
    font-size: 2rem;
    padding: 2rem;
}
.main-about__content__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2rem;
    height: 100%;
    width: 100%;
    justify-items: center;
    text-align: start;
    padding: 3rem 2rem;
}

/* MAIN - CONTACT STYLES */

.input-error {
    box-shadow: 0 0 0.5rem red;
}
.contact-form__error {
    color: var(--red);
}
.main-contact__container {
    background: white;
    margin: 3rem 1rem;
    padding: 1rem 1rem 2rem;
    border-radius: 5px;
    min-height: 30.5rem;
    box-shadow: 0 .5rem 1rem var(--gray4);
    text-align: center;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
        "hd hd hd"
        "form sm contact"
}
.main-contact__container__header {
    grid-area: hd;
    font-size: 2rem;
    padding: 2rem;
}
.main-contact__container__form {
    grid-area: form;
}
.contact-form {
    display: grid;
    grid-template-columns: 1fr;
    max-width: 30rem;
    width: 100%;
    align-content: center;
    justify-self: center;
}
.contact-form__invalid {
    display: none;
    text-align: start;
    color: var(--red);
    padding-left: 0.75rem;
}
.contact-form__input {
    display: block;
    border: 1px solid var(--black);
    padding: 0.5rem;
    border-radius: 5px;
    width: 100%;
    margin: .5rem auto;
    font-size: 1rem;
}
.contact-form__input--message {
    resize: none;
    height: 5rem;
}
.contact-form__continue {
    justify-self: end;
    background: var(--black);
    border-radius: 5px;
    border: none;
    color: white;
    padding: .5rem 1rem;
    font-size: 1rem;
}
.main-contact__container__social-media {
    grid-area: sm;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr;
    width: 100%;
}
.main-contact__container__social-media span {
    font-size: 5rem;
    margin-top: 2rem;
}
.main-contact__container__contact {
    grid-area: contact;
}
.contact-container {
    display: grid;
    grid-gap: 1rem;
    grid-row-gap: 3rem;
    grid-template-areas:
        "phone-icon phone-number"
        "mail-icon mail-adress"
}
.contact-container__icon {
    font-size: 2rem;
}
.contact-container__icon--phone {
    grid-area: phone-icon;
}
.contact-container__icon--mail {
    grid-area: mail-icon;
}
.contact-container__box {
    font-size: 1.5rem;
}
.contact-container__box--phone {
    grid-area: phone-number;
}
.contact-container__box--mail {
    grid-area: mail-adress;
}

/* CONTACT MODAL */

.modal {
    display: none;
    background: rgba(90, 90, 90, .5);
    overflow: auto;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
}
.modal__exit {
    color: white;
    background: rgba(0,0,0, 0);
    border: none;
    padding: 0 1.5rem;
    font-size: 3rem;
    float: right;
}
.modal__exit:hover, .modal__exit:focus {
    color: var(--black);
    cursor: pointer;
}
.modal__container {
    margin: 10% auto;
    background: white;
    box-shadow: 0 .5rem 1rem var(--gray4);
    border-radius: 5px;
    padding: 2rem;
    width: 70%;
    overflow: auto;
}
.modal__container__header {
    text-align: center;
    font-weight: bold;
    font-size: 1rem;
}
.modal__container__title {
    font-weight: bold;
    padding: .5rem 1rem;
}
.modal__container__input {
    background: var(--gray1);
    padding: 1rem;
    border-radius: 5px;
}
.modal__container__button {
    background: var(--black);
    border-radius: 5px;
    border: none;
    color: white;
    padding: .5rem 1rem;
    margin: .5rem 0;
    float: right;
    font-size: 1rem;
    cursor: pointer;
}
.modal__container__button--middle {
    float: none;
}

/* MAIN - MASKINPARK STYLES */
.main-maskinpark {
    padding: 1rem
}
.main-maskinpark__header {
    background: white;
    margin: 2rem auto;
    padding: 2rem;
    border-radius: 5px;
    max-width: 125rem;
    box-shadow: 0 .5rem 1rem var(--gray4);
    text-align: center;
    font-size: 2rem;
}

.main-maskinpark__section {
    display: grid;
    margin: 0 auto;
    max-width: 125rem;
    margin-bottom: 3rem;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    justify-items: center;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
    gap: 2rem;
}

.main-maskinpark__section__header {
    background: white;
    margin: 1rem;
    margin-bottom: 0;
    padding: 1rem;
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 .5rem 1rem var(--gray4);
    text-align: center;
    grid-column: 1 / -1;
}

.section__item {
    background: white;
    border-radius: 5px;
    box-shadow: 0 .5rem 1rem var(--gray4);
    width: 100%;
    height: 100%;
    padding-bottom: 2rem;

}

.section__item__header {
    text-align: center;
    font-size: 1.2rem;
}

.section__item__content {
    padding-left: 2rem;
    padding-right: 2rem;
}

.section__item__image {
    background: #aaa;
    padding: 1rem;
    min-height: 20rem;
    height: auto;
    min-width: 100%;
    max-width: 100%;
    border-radius: 5px 5px 0 0;
}


/* SMALL DESKTOP STYLES */

@media (max-width: 80rem) {
    
    /* HEADER AND NAVIGATION STYLES */
    
    .nav__links {
        margin-top: 3rem;
    }
    .nav__links a {
        font-size: 1.5rem;
    }

    /* FOOTER STYLES */

    .footer__contact {
        padding: 0 1.5rem 0 0;
    }

    /* MAIN - HOME STYLES */

    .main-home__img {
        height: 80vh;
    }
    .main-home__cta-container {
        grid-template-columns: 1fr;
        grid-gap: 2rem;
    }

    /* MAIN - ABOUT STYLES */

    .main-about__img {
        height: 80vh;
        background-position: center 50%;
    }

    /* MAIN - CONTACT STYLES */

    .main-contact__container {
        min-height: auto;
    }

    /* MAIN - MASKINPARK STYLES */



}

/* LARGE MOBILE STYLES */

@media (max-width: 60rem) {
    
    /* HEADER AND NAVIGATION STYLES */
    
    label {
        display: block;
        cursor: pointer;
        padding-top: 1.2rem;
    }
    .nav {
        height: auto;
        min-height: 5rem;
    }
    .nav__logo {
        height: 5rem;
        width: 15rem;
    }
    .nav__links {
        width: 100%;
        display: none;
        background: white;
        margin: 0;
        position: absolute;
    }
    .nav__links a {
        display: block;
        font-size: 1.5rem;
        padding: 0.5rem;
    }
    #toggle:checked + .nav__links {
        display: block;
    }

    /* FOOTER STYLES */

    .footer {
        grid-template-columns: 1fr 1fr;
    }
    .footer__social-media {
        grid-column: 1/3;
    }
    .footer__contact {
        grid-column: 2;
        grid-row: 1;
    }

    /* MAIN - HOME STYLES */

    .main-home__img {
        height: 50vh;
    }
    .main-about__content__container {
        grid-template-columns: 1fr;
        justify-items: start;
        max-width: 30rem;
        margin: 0 auto;
        grid-row-gap: 3rem;
    }

    /* MAIN - ABOUT STYLES */

    .main-about__img {
        background-position: 75% 50%;
    }

    /* MAIN - CONTACT STYLES */

    .main-contact__container {
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "hd hd"
            "form form"
            "sm contact"

    }
    .contact-form {
        margin-bottom: 2rem;
    }
    .contact-container__box {
        font-size: 1rem;
    }
    .contact-container {
        grid-row-gap: 2rem;
    }

    /* MODAL */

    .modal__container {
        width: 90%;
    }

    /* MAIN - MASKINPARK STYLES */



}

/* MEDIUM MOBILE STYLES */

@media (max-width: 40rem) {
    
    /* HEADER STYLES*/
    
    .nav__links a {
        font-size: 1rem;
    }

    /* FOOTER STYLES */

    .footer {
        grid-template-columns: 1fr;
        padding-top: 3rem;
        grid-row-gap: 1rem;
    }
    .footer__links {
        grid-column: 1;
        margin: 0;
    }
    .footer__links a {
        text-align: center;
    }
    .footer__contact {
        grid-column: 1;
        grid-row: 2;
        padding: 1rem;
        grid-gap: 0;
    }
    .footer__contact__icon {
        padding: 1rem 0.2rem;
    }
    .footer__social-media {
        grid-row: 3;
    }

    /* MAIN - HOME STYLES */

    .main-home__img {
        height: 36rem;
        background-position-x: -160px;
    }
    .main-home__cta-container {
        padding-top: 2rem;
    }
    .main-home__cta-container__box {
        min-height: 25rem;
    }
    .main-home__cta-container__box__content {
        font-size: 1rem;
    }

    /* MAIN - ABOUT STYLES */



    /* MAIN - CONTACT STYLES */

    .main-contact__container {
        grid-template-columns: 1fr;
        grid-template-areas:
            "hd"
            "form"
            "contact"
            "sm"
    }
    .main-contact__container__social-media {
        margin-top: 2rem;
    }
    .main-contact__container__social-media span {
        margin-top: 1rem;
    }

    /* MAIN - MASKINPARK STYLES */

    .main-maskinpark__section {
        grid-template-columns: 1fr;
    }


}

@media (max-width: 20rem) {
    
    /* HEADER STYLES*/



    /* FOOTER STYLES */
    
    
    
    /* MAIN - HOME STYLES */
    
    .main-home__img {
        height: 30rem;
    }
    
    /* MAIN - ABOUT STYLES */
    
    
    
    /* MAIN - CONTACT STYLES */
    
    
    
    /* MAIN - MASKINPARK STYLES */

    .section__item__image {
        min-height: 12rem;
    }

}

/* MAIN SECTION UNDER DEVELOPMENT WARNING */

.main {
    display: grid;
    text-align: center;
    padding: 2rem 0;
}
.main div {
    text-align: center;
    padding: 1rem 0;
    color: var(--gray1);
}
.main__cog {
    font-size: 5rem;

}
.main__warning {
    font-size: 2rem;
}

@media (min-width: 40rem) {
    .main {
        padding: 11rem 0;
    }
}

